In [1]:
import json
import pymongo
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt

In [96]:

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
client = pymongo.MongoClient("mongodb+srv://matias:caos@cluster0-qjij4.mongodb.net/dm?retryWrites=true")
db = client.dm

In [3]:
db

Database(MongoClient(host=['cluster0-shard-00-01-qjij4.mongodb.net:27017', 'cluster0-shard-00-00-qjij4.mongodb.net:27017', 'cluster0-shard-00-02-qjij4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, retrywrites=True, replicaset='Cluster0-shard-0', authsource='admin'), 'dm')

In [4]:
Tweets = db['Tweets']
Users = db['Users']

In [5]:
#tablas a pandas DataFrames
tweets = db.Tweets 
users = db.Users
usersDf = pd.DataFrame(list(users.find()))
tweetsDf = pd.DataFrame(list(tweets.find()))

In [77]:
usersDf.head()

,account_created_at,account_lang,description,favourites_count,followers_count,friends_count,listed_count,location,name,profile_background_url,profile_banner_url,profile_expanded_url,profile_image_url,profile_url,protected,screen_name,statuses_count,url,user_id,verified
0,2009-04-21 18:21:44,es,Noticias de LA NACION. Informaci�n confiable y...,1,3116787,227,9979,Argentina,LA NACION,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/33989170...,http://www.lanacion.com.ar,http://pbs.twimg.com/profile_images/6445642999...,http://t.co/Swk4TRMyc9,False,LANACION,278932,http://t.co/Swk4TRMyc9,33989170,True
1,2012-08-01 15:49:35,es,Gobernador de la Provincia de Salta,760,168886,107,317,"Salta, Argentina",Juan Manuel Urtubey,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/73092677...,http://www.juanmanuelurtubey.com,http://pbs.twimg.com/profile_images/4722080500...,https://t.co/Hf5CN3gH9p,False,UrtubeyJM,3140,https://t.co/Hf5CN3gH9p,730926774,True
2,2009-04-21 18:21:44,es,Noticias de LA NACION. Informaci�n confiable y...,1,3116787,227,9979,Argentina,LA NACION,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/33989170...,http://www.lanacion.com.ar,http://pbs.twimg.com/profile_images/6445642999...,http://t.co/Swk4TRMyc9,False,LANACION,278932,http://t.co/Swk4TRMyc9,33989170,True
3,2010-10-03 05:59:25,es,,38390,1622,1863,7,,Lili,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/19804989...,NaN,http://pbs.twimg.com/profile_images/9618446567...,NaN,False,Lililaumas,53460,NaN,198049895,False
4,2011-02-23 12:23:16,es,CONCEJAL '13-'21 FJV-FPV-UC Catolico no profes...,4117,5929,5897,15,Tres Lomas Pcia Bs As,Franco D.M. Dreessen,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/25648035...,http://www.fm3lomasweb.com.ar,http://pbs.twimg.com/profile_images/9858799173...,http://t.co/ymiZBdntb7,False,Francodreessen,21695,http://t.co/ymiZBdntb7,256480358,False

In [62]:
tweetsDf.describe()

       favorite_count        lat        lng  retweet_count
count      600.000000  31.000000  31.000000     600.000000
mean         3.781667 -30.984989 -58.184726       1.741667
std         16.432002  15.507777  11.940571       9.499755
min          0.000000 -37.147576 -68.866687       0.000000
25%          0.000000 -34.784064 -60.454935       0.000000
50%          0.000000 -34.604315 -58.473042       0.000000
75%          2.000000 -32.906742 -58.442643       0.000000
max        297.000000  51.501586   3.661159     169.000000

In [65]:
usersDf.describe()

,favourites_count,followers_count,friends_count,listed_count,statuses_count
count,600.000000,6.000000e+02,600.000000,600.000000,600.000000
mean,13926.063333,4.453593e+04,1525.168333,120.648333,47157.833333
std,34883.080662,2.913202e+05,5931.803864,741.226474,86936.533410
min,0.000000,0.000000e+00,0.000000,0.000000,1.000000
25%,336.500000,1.135000e+02,187.000000,0.000000,3140.000000
50%,3370.500000,6.015000e+02,499.500000,3.000000,13827.500000
75%,13462.000000,2.646500e+03,1297.000000,23.250000,52606.250000
max,442057.000000,3.999948e+06,93387.000000,9979.000000,944671.000000

In [64]:
tweetsDf.describe()

       favorite_count        lat        lng  retweet_count
count      600.000000  31.000000  31.000000     600.000000
mean         3.781667 -30.984989 -58.184726       1.741667
std         16.432002  15.507777  11.940571       9.499755
min          0.000000 -37.147576 -68.866687       0.000000
25%          0.000000 -34.784064 -60.454935       0.000000
50%          0.000000 -34.604315 -58.473042       0.000000
75%          2.000000 -32.906742 -58.442643       0.000000
max        297.000000  51.501586   3.661159     169.000000

In [84]:
#Borro duplicados de los usuarios, sino hace un n contra n y me da más tweets de los que hay
Users = usersDf.drop_duplicates(keep='last')

In [86]:
lleno = pd.merge(tweetsDf, nu,  how='left', left_on=['user_id', 'screen_name'], right_on = ['user_id', 'screen_name'])

In [87]:
lleno.describe()

,favorite_count,lat,lng,retweet_count,favourites_count,followers_count,friends_count,listed_count,statuses_count
count,608.000000,31.000000,31.000000,608.000000,608.000000,6.080000e+02,608.000000,608.000000,608.000000
mean,3.759868,-30.984989,-58.184726,1.725329,14028.574013,4.551196e+04,1559.419408,126.452303,48885.452303
std,16.325203,15.507777,11.940571,9.438357,34810.515256,2.896882e+05,5902.602609,739.510264,87655.172158
min,0.000000,-37.147576,-68.866687,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.000000
25%,0.000000,-34.784064,-60.454935,0.000000,320.250000,1.162500e+02,189.750000,0.000000,3168.500000
50%,0.000000,-34.604315,-58.473042,0.000000,3361.500000,6.230000e+02,512.000000,3.000000,14017.000000
75%,2.000000,-32.906742,-58.442643,0.000000,13486.500000,2.782750e+03,1342.250000,26.000000,55754.250000
max,297.000000,51.501586,3.661159,169.000000,442057.000000,3.999948e+06,93387.000000,9979.000000,944671.000000

In [88]:
lleno['cant_menciones'] = lleno['mentions_screen_name'].apply(lambda x: len(x) -1)

In [89]:
lleno['cant_hash'] = lleno['hashtags'].apply(lambda x: len(x) -1)

In [90]:
lleno['suma'] = lleno['retweet_count'] + lleno['favorite_count']

In [91]:
lleno['popular'] = lleno['suma'].apply(lambda x: True if x > 0 else False)

In [92]:
lleno['suma']

0      111
1       99
2      166
3        0
4        1
5        0
6        0
7        1
8        0
9        0
10       2
11       6
12       1
13       1
14       0
15       0
16       1
17       0
18       0
19       1
20       0
21       0
22       6
23       1
24       1
25       1
26       1
27       0
28       3
29       0
      ...
578      2
579      0
580      0
581      4
582      0
583      0
584      2
585      0
586      0
587      0
588      3
589      4
590      5
591      0
592     11
593      1
594      0
595      1
596      0
597      5
598      0
599      0
600      3
601      0
602      0
603      1
604      9
605      0
606      1
607      0
Name: suma, Length: 608, dtype: int64

In [93]:
modelo = lleno.filter(['friends_count', 'followers_count', 'listed_count', 'statuses_count', 'favourites_count', 'verified', 'is_quote', 'is_retweet', 'favorite_count', 'retweet_count', 'cant_hashtags', 'cant_menciones', 'popular'])

In [94]:
modelo

,friends_count,followers_count,listed_count,statuses_count,favourites_count,verified,is_quote,is_retweet,favorite_count,retweet_count,cant_menciones,popular
0,227,3116787,9979,278932,1,True,False,False,50,61,0,True
1,107,168886,317,3140,760,True,False,False,68,31,1,True
2,227,3116787,9979,278932,1,True,False,False,138,28,0,True
3,1863,1622,7,53460,38390,False,False,False,0,0,1,False
4,5897,5929,15,21695,4117,False,False,False,1,0,0,True
5,468,246,0,1582,1292,False,False,False,0,0,0,False
6,611,547241,697,356311,867,False,False,False,0,0,0,False
7,611,547241,697,356311,867,False,False,False,1,0,0,True
8,1111,294,11,5137,612,False,False,False,0,0,2,False
9,289,154,1,3945,17419,False,False,False,0,0,0,False
10,1039,2985,46,65049,38358,False,False,False,2,0,0,True
11,161,7937,46,153028,115054,False,False,False,5,1,0,True
12,500,330,0,5052,3981,False,False,False,1,0,3,True
13,241,826,21,143403,111851,False,False,False,1,0,0,True
14,128,105,0,5435,3082,False,False,False,0,0,1,False
15,176,110,3,2614,488,False,False,False,0,0,0,False
16,191,184,0,1992,471,False,False,False,1,0,0,True
17,6077,6996,38,168027,57615,False,False,False,0,0,0,False
18,6077,6995,38,168027,57615,False,False,False,0,0,0,False
19,278,9,0,894,68,False,False,False,1,0,3,True
20,1173,385,1,8011,1894,False,False,False,0,0,0,False
21,360,2770,13,1154,35,False,False,False,0,0,0,False
22,2596,7767,111,76778,21055,False,False,False,4,2,0,True
23,233,19085,33,30484,143,False,False,False,0,1,0,True
24,634,760,2,21294,16899,False,False,False,1,0,1,True
25,889,1353,11,50326,27170,False,False,False,1,0,0,True
26,1052,792235,1053,122034,4482,True,False,False,1,0,0,True
27,142,44,0,423,1496,False,False,False,0,0,1,False
28,86,291,3,7429,77,False,False,False,2,1,0,True
29,132,33,1,2518,1550,False,False,False,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
578,285,3721,68,43336,274,False,False,False,2,0,0,True
579,28633,72176,345,150874,383,True,False,False,0,0,0,False
580,2024,726,7,117754,29,False,False,False,0,0,0,False
581,63,78,2,3464,2561,False,False,False,3,1,0,True
582,607,881,1,45188,12205,False,False,False,0,0,0,False
583,605,371,4,1828,525,False,False,False,0,0,1,False
584,674,772,0,45484,16011,False,False,False,2,0,0,True
585,2190,15144,133,86052,5708,True,False,False,0,0,0,False
586,103,63,0,1415,4144,False,False,False,0,0,0,False
587,499,455,23,18082,3324,False,False,False,0,0,0,False
588,1249,1817,9,94651,174469,False,False,False,3,0,0,True
589,1396,1334,1,11173,13027,False,False,False,4,0,0,True
590,253,291,0,5006,10436,False,False,False,3,2,0,True
591,177,28,0,568,1391,False,False,False,0,0,0,False
592,1922,2258,3,20186,14047,False,False,False,11,0,0,True
593,48,18,0,420,1915,False,False,False,1,0,1,True
594,177,28,0,568,1391,False,False,False,0,0,0,False
595,54,13,1,2516,59,False,False,False,1,0,0,True
596,177,28,0,568,1391,False,False,False,0,0,0,False
597,474,316,13,37021,3681,False,False,False,5,0,1,True
598,118,70,1,2224,1804,False,False,False,0,0,1,False
599,0,0,0,1,1,False,False,False,0,0,0,False
600,3176,2924,44,144062,68164,False,False,False,2,1,0,True
601,516,665,2,10973,8253,False,False,False,0,0,0,False
602,828,275,1,4787,36,False,False,False,0,0,0,False
603,3830,3815,5,42291,61329,False,False,False,1,0,0,True
604,804,2174,46,63608,67788,False,False,False,9,0,0,True
605,1854,336,1,8531,223,False,False,False,0,0,0,False
606,751,2288,33,106369,56852,False,False,False,1,0,0,True
607,578,848,1,27697,21305,False,True,False,0,0,0,False

In [101]:
modelo_y = modelo.loc[:,'popular']

In [102]:
modelo_x = modelo.loc[:, 'friends_count':'cant_menciones']

In [104]:
X_train, X_test, y_train, y_test = train_test_split(modelo_x, modelo_y, test_size=0.33, random_state=42)

In [107]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [110]:
accuracy_score(y_train, clf.predict(X_train))

1.0

In [112]:
predictions = clf.predict(X_test)
accuracy_score(y_test, predictions)

0.9800995024875622

In [113]:
confusion_matrix(y_test, predictions)

array([[104,   1],
       [  3,  93]], dtype=int64)

In [117]:
feature_importances = pd.DataFrame(clf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)

In [118]:
feature_importances

                  importance
favorite_count      0.721361
retweet_count       0.111956
followers_count     0.054997
favourites_count    0.031532
statuses_count      0.027993
friends_count       0.025575
listed_count        0.019916
cant_menciones      0.006288
verified            0.000227
is_quote            0.000154
is_retweet          0.000000